.userDashboard {
  margin: 100px 0;
}
.userInfo {
  /* background-color: #f8f9fe;*/
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 50em;
  padding-top: 5px;
  border: 2px solid #36d7b7;
}
.userInfo img {
  position: absolute;
  top: -5%;
  left: 22%;
  border-radius: 50%;
}

.userContent {
  margin-top: 50%;
  padding: 10px 20px;
}
.userContent p {
  margin-left: 0px;
  padding-left: 0px;
}
#userName {
  font-size: 26px;
  font-weight: 700;
  padding: 10px 20px;
  background-color: #36d7b7;
  border-radius: 1.5rem / 50%;
}
#male {
  font-size: 20px;
  font-weight: 500;
}
#age {
  font-size: 22px;
  font-weight: 600;
  margin-left: 60px;
}
#height {
  font-size: 20px;
  font-weight: 600;
}
#weight {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}
#veg {
  font-size: 20px;
  font-weight: 600;
}
#status {
  font-size: 20px;
  font-weight: 600;
}
#goal {
  font-size: 20px;
  font-weight: 600;
}

#calorieCount {
  font-size: 20px;
  font-weight: 600;
}
.userDashboard .btn-primary a {
  color: black;
  font-weight: 600;
  font-size: 16px;
}
.userContent svg {
  font-size: 25px;
  margin-right: 12px;
}

.userLowerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.userContent p {
  color: black;
}
/* Right Side Upper Buttons*/
.userControls {
  height: 50em;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.userControlButtons {
  display: flex;
  margin-bottom: 10px;
}
.userControlButtons div {
  padding: 10px 79px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  background-color: #36d7b7;
}

.dietPrediction {
  margin-top: 20px;
  height: 40em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.dietPrediction .dietName {
  font-size: 20px;
  font-weight: 600;
}

.exercisePrediction {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 40em;
  padding: 100px;

  padding-left: 220px;
}

.exercisePrediction p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}
.exercisePrediction span {
  padding: 0px 40px;
}

.dailyReport {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 40em;
}

.userMsg {
  border: 1px solid black;
  height: 30em;
  margin: 60px;
}

/**/

@media screen and (max-width: 700px) {
  .userDashboard {
    margin: 100px 0;
  }
  .userInfo {
    /* background-color: #f8f9fe;*/
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 29em;
    padding-top: 5px;
    border: 2px solid #36d7b7;
  }

  .userInfo img {
    position: absolute;
    width: 40%;
    top: -20%;
    left: 30%;
    border-radius: 50%;
  }

  .userContent {
    margin-top: 20%;
    padding: 10px 50px;
  }
  .userContent p {
    margin-left: 0px;
    padding-left: 0px;
  }
  #userName {
    font-size: 16px;
    font-weight: 700;
    width: 200px;
    margin: 10px 20px;
    background-color: #36d7b7;
    border-radius: 1.5rem / 50%;
  }
  #male {
    font-size: 16px;
    font-weight: 500;
  }
  #age {
    font-size: 16px;
    font-weight: 600;
    margin-left: 60px;
  }
  #height {
    font-size: 16px;
    font-weight: 600;
  }
  #weight {
    font-size: 16px;
    font-weight: 600;
    margin-left: 20px;
  }
  #veg {
    font-size: 16px;
    font-weight: 600;
  }
  #status {
    font-size: 16px;
    font-weight: 600;
  }
  #goal {
    font-size: 16px;
    font-weight: 600;
  }
  br {
    display: none;
  }
  .userLowerContent p {
    margin-top: 10px;
  }
  .userDashboard .btn-primary {
    margin: 0px 0px 20px 100px;
    background-color: #36d7b7;
    color: #fff;
    font-size: 14px;
    padding: 2px 10px;
  }

  .userContent svg {
    font-size: 25px;
    margin-right: 12px;
  }

  .userLowerContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .userContent p {
    color: black;
  }
  /* Right Side Upper Buttons*/
  .userControls {
    height: 30em;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .userControlButtons {
    display: flex;
    margin-bottom: 10px;
  }
  .userControlButtons div {
    padding: 5px 26px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    background-color: #36d7b7;
  }

  .dietPrediction {
    margin-top: 20px;
    height: 20em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .dietPrediction .dietName {
    font-size: 16px;
    font-weight: 600;
  }

  .exercisePrediction {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    height: 20em;
    padding: 50px;
  }

  .exercisePrediction p {
    font-size: 16px;
    font-weight: 500;
  }

  .userMsg {
    border: 1px solid black;
    height: 30em;
    margin: 60px;
  }
}
