.about {
  margin: 100px 0px;
}

.description_img {
  margin-top: 41px;
}
.hexagon i:before {
  font-size: 24px;
}
.hexagon {
  position: relative;
  margin: 10px;
  width: 80px;
  height: 40px;
  float: left;
  background-color: #36d7b7;
}
.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  left: inherit;
}
.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid #36d7b7;
}
.hexagon:after {
  top: 100%;
  left: 0%;
  width: 0;
  border-top: 14.43px solid #36d7b7;
}
.hexagon i:before {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.iconAbout {
  font-size: 40px;
  margin: 0px 20px;
}

.d-table {
  margin-left: 70px;
}
.section_title h4 {
  font-size: 26px;
  font-weight: 600;
}
.section_title p {
  font-size: 16px;
  text-align: justify;
}
ul li {
  list-style: none;
}

.list_description p {
  color: black;
}

.line1 {
  margin-left: 100px;
}

.line2 {
  margin-left: 100px;

  margin-top: 80px;
}

.icons4 {
  margin: 80px 0px;
}
