div.LandingBG {
  background-image: url(workout-bars-at-park.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 116vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.LandingButton {
  border-radius: 10px;
  background-color: #28a745;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  padding: 1% 1%;
  width: 15%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

button.LandingButton {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button.LandingButton:after {
  /* content: "»";*/
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}
/*
button.LandingButton:hover {
  font-weight: 800;

  padding-right: 24px;
  padding-left: 8px;
}

button.LandingButton:hover:after {
  opacity: 1;
  right: 10px;
}
*/
span:hover {
  padding-left: 10px;
}
