.headerBanner {
  background-color: #36d7b7;
  padding: 130px 0 110px;
  /*background: rgba(0, 0, 0, 0.2);*/
}
.headerBanner h1,
p {
  text-align: center;
}
.headerBanner h1 {
  margin-bottom: 1em;
  font-weight: 800;
  color: black;
}
.headerBanner p {
  color: black;
  margin-top: 15px;
  font-size: large;
}
