.card {
  margin: 20px;
}
.postIMg {
  width: 335px;
  height: 200px;
}
.cardMainContent {
  margin: 30px 5px;
  display: flex;
  flex-direction: column;
}
.cardDate {
  width: 140px;
  padding: 2px;
  text-align: center;
  background-color: antiquewhite;
  position: absolute;
  top: 1%;
  left: 1%;
}

.cardTitle {
  color: black;
  font-weight: 700;
  margin-left: 20px;
}
.max-lines {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
}

.post_status li {
  display: inline;
  margin-right: 12px;
  font-size: 12px;
}
.post_status li i {
  margin-right: 5px;
}
