nav {
  background-color: #36d7b7;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  display: flex;
  border-bottom: 1px solid white;
}
nav a {
  font-weight: 600;
}

.logo {
  width: 200px;
}
.logo i {
  font-size: 26px;
  margin-right: 5px;
  margin-top: 28px;
}
.logo .nav-link {
  margin-top: 18px;
}
.logo img {
  margin-left: 40%;
  margin-top: 3%;
}

.menu-link {
  margin-top: 5%;
  margin-left: 7%;
}
.menu-link-4items {
  margin-top: 5%;
  margin-left: 12%;
}
.menu-link ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.menu-link ul li {
  margin-right: 10px;
  margin-top: 10px;
}
.menu-link ul li a {
  font-weight: 600;
  font-size: 18px;
  /*color: #fff;*/
  color: black;
}

.nav-link {
  color: black;
}
.nav-link:hover {
  color: #fff;
}
/*
.mid {
  margin-left: 26px;
}

.loginSignup {
  display: flex;
}*/
.loginSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  top: 1%;
}
.loginSignup i {
  margin-left: 50px;
  margin-right: 20px;

  font-size: 26px;
}

nav i {
  margin-left: 20px;
  margin-top: 5px;
}

.hamburger-menu {
  display: none;
}

.showlogoDiv {
  padding: 200px 1000px;
  background-color: white;
  position: fixed;
  top: 210px;
}
.belowSearchBar {
  display: none;
}

.link-username {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  /*color: #fff;*/
  color: black;
}
@media screen and (max-width: 700px) {
  .hamburger-menu {
    font-size: 25px;
    color: black;

    display: block;
  }
  .logo {
    display: none;
  }
  .showlogoDiv {
    display: none;
  }
  .loginSignup {
    display: none;
  }
  .menu-link {
    display: none;
  }
  .hamburger-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hamburger-rightDiv {
    position: absolute;
    right: 30px;
  }

  .hamburger-logoDiv {
    position: relative;
    top: 10px;
  }
  .fa-close {
    padding: 10px;
  }
  .mobileTop {
    margin-bottom: 0px;
  }

  .mobileTop i {
    color: gray;
    font-size: 26px;
    position: absolute;
    top: 5px;
    right: 10px;
  }
  .mobile-menu-link {
    display: flex;
    position: relative;
    z-index: 99;
  }
  .mobile-logo {
    background-color: #ffac00;
  }
  .mobile-menu-link .nav-link {
    padding: 0px;
    font-size: 14px;
  }
  .mobile-menu-link {
    background-color: white;
    height: 35rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0em;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: start;

    padding-right: 2.5em;
    padding-left: 1em;
    margin-top: 80px;
  }
  .mobile-menu-link ul li {
    margin-top: 30px;
  }

  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .mobileAccount {
    margin-top: 40px;
    margin-left: 0;
  }
  .mobileAccount i {
    margin-right: 10px;
    margin-left: 0;
  }
  hr {
    height: 0.1px;
    width: 100%;
    background-color: #cad1d8;
    margin: 0;
  }
  .belowSearchBar {
    background-color: white;
    display: block;
    position: absolute;
    top: 96px;
    padding: 5px 100px;
  }

  .searchBelowSearchBar {
    font-size: 15px;
    position: relative;
    left: 340px;
    padding: 3px;
    width: 30px;
    background-color: #ffac00;
  }
}

*
/* underlining style for navbar a links*/
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 3px;
  background-color: white;
  content: '';
  transition: width 0.2s;
}

.underlineHover:hover {
  color: white;
}

.underlineHover:hover:after {
  width: 100%;
}
